body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  padding-top: 70px;
}

/* HERO SECTION */
#hero {
  margin-bottom: 120px;
}

/* GAP BETWEEN HERO AND ABOUT */
.about-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section {
  padding: 80px 0;
}

.about-section {
  padding: 80px 0;
}

.navbar-brand {
  font-size: 1.4rem;
}

.btn-primary {
  padding: 10px 25px;
  border-radius: 30px;
}

footer {
  font-size: 14px;
}
